.row{
  width: 40%;
  margin: auto;
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.columBook{

  border: 1px solid #917F74;
  padding-top: 20px;
  margin: 12px;

}

.columBook h4{
  margin-bottom: 0px;
}

.columBook p {
  font-size: medium;
  font-weight: 300;

  margin-top: 0px;
}

.buttom_element{
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #F5F5F5;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  color: #917F74 ;
  border: 1px solid #917F74;
  transition: 0.10ms ease-in ;
  cursor: pointer;
}

.buttom_element:hover{
  background-color: #917F74;
  color:#F5F5F5 ;
}


@media (min-width:100px){
  .row{
      grid-template-columns: repeat(1, 1fr);
      width: 65%;
  }
}
@media (min-width:520px){
  .row{
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
  }
}
@media (min-width:728px){
  .row{
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
  }
}
@media (min-width:1024px){
  .row{
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
  }
}