#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

main{
  /* display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 64px */
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
/* 
div > img {
  max-width: 100%; 
  height: auto;    
}
*/

@media (min-width: 900px) {
  main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 64px
  }
}



img{
  width: 70%;
  cursor: pointer;
}

.title{
  margin-left: 28px;
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
}
.title > span{
  font-size: 17px;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.column img{
  margin-top: 5px;
}

